{% extends 'base.html' %}

{% block title %}New recipe{% endblock %}

{% block content %}
    <h2>New recipe</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input name="name" type="text"/>
        <input name="description" type="text"/>
        <select name="ingredients" multiple>
        {% for ing in ingredients %}
            <option>{{ ing.name }}</option>
        {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
{% endblock %}