{% extends "baseform.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <link href="{% static 'css/RecipeFormStyle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block smalltitle %}
  Nowy przepis
{% endblock %}

{% block itemcontent %}
<div class="formulagrid">
  <p>
    {{form.name.errors}}
    <label>Nazwa:</label>
    {{form.name}}
  </p>
  <p>
    {{form.description.errors}}
    <label>Opis:</label>
    {{form.description}}
  </p>
  <p>
    {{form.recipe_text.errors}}
    <label>Przepis:</label>
    {{form.recipe_text}}
  </p>
  <p>
    {{form.tools.errors}}
    <label>Narzędzia:</label>
    {{form.tools}}
  </p>

</div>
<form method="post" action="">

    {% csrf_token %}

    {{ formset.management_form }}

    {% for link_form in formset %}
        <div class="link-formset">
            {{ link_form.as_p}}

        </div>
    {% endfor %}

    <input type="submit" value="Dodaj przepis" class="button"/>
</form>
{% endblock %}

</div>





{% block custom_js %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'add ingredient',
        deleteText: 'remove'
    });
</script>
<script src="{% static 'js/rowadder.js' %}?version=5"></script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
