{% extends "baseform.html" %}
{% load staticfiles %}

{% block smalltitle %}
New Ingredient
{% endblock %}

{% block itemcontent %}
    <label for="price">Price:</label>
    <input id="price" name="price" type="number" step="0.01" min="0"
	onkeydown="return event.keyCode !== 69" 	required />
	<!-- onkeydown="return event.keyCode !== 69" skips e and E, as we don't want
	scientific notation -->
    <label for="categories">Category:</label>
    <select id="categories" name="categories">
    {% for cat in categories %}
        <option>{{ cat.name }}</option>
    {% endfor %}
    </select>
{% endblock %}
