{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">

    <h2>Search for a perfect dish</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <h4>Składniki, które masz w lodówce</h4>
      <select id="ingredients_in_fridge" name="ingredients_in_fridge" multiple>
        {% for ing in ingredients %}
            <option>{{ ing.name }}</option>
        {% endfor %}
      </select>

      <h4>Składniki, które chcesz mieć w potrawie</h4>
      <select id="ingredients_in_recipe" name="ingredients_in_recipe" multiple>
        {% for ing in ingredients %}
            <option>{{ ing.name }}</option>
        {% endfor %}
      </select>

      <h4>Ile możesz dopłacić</h4>
      <input id="extra_money" name="extra_money" type="number" step="0.01" min="0"
	    onkeydown="return event.keyCode !== 69" required/>

      <button type="submit">Submit</button>
    </form>

  </div>
{% endblock %}