{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link href="{% static 'css/FormStyle.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
  <div class="container">

    <h2>{% block smalltitle %}{% endblock %}</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="item">
        <div class="itemname">
        {% block itemname %}
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" required />
        {% endblock %}
        </div>
        <div class="listitem-content">
          {% block itemcontent %}{% endblock %}
        </div>
      </div>
      <button type="submit" onclick="{% block submitclick %}{% endblock %}">Submit</button>
    </form>

  </div>

{% endblock %}