{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block head %}
<link href="{% static 'css/ListStyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/TileStyle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}




{% block content %}
  <div class="container">


    <h2>{% block smalltitle %}{% endblock %}</h2>

    <ul class="nomargin" style="position:center;">
        {% for item in list_items %}

            <div class="square">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">

                            {% if item.image %}
                                <a href="{% url 'recipe_id' item.id %}">
                                   <div class="textOverImage"
                                        style="background-image:url({{item.image.url}})"
                                        data-text="{{item.name}}&#10{{item.description}}">
                                   </div>
                                </a>
                            {% else %}
                                <a href="{% url 'recipe_id' item.id %}">
                                   <div class="textOverImage"
                                        style="background-image:url({% get_media_prefix %}/default.png)"
                                        data-text="{{item.name}}&#10{{item.description}}">
                                   </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </ul>

  </div>


{% endblock %}