

html,body{
  min-height: 100%;
}

main{
  padding:10px;
}

.main-grid{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height:100%;
}

.main-row{
  background-color: white;
  height:100%;
}

h2{
	text-align: center;
}