      input:invalid {
        border: 2px dashed red;
      }
      input:valid {
        border: 2px solid black;
      }

      .formulagrid {
        display:grid;
        border-radius: 10px;
        /*grid-template-rows;*/
      }

      .formulagrid p *{

        position:relative;
        overflow: auto;
        //display:block;
        width:100%;
        height: auto;
        top:0;
        bottom:0;
        left:0;right:0;
        text-align:center;
        font-size:18px;
        align-items: center;
        font-family: "Garamond";
        font-weight: 400;
        background-color: white;
        float:left;

      }

      .formulagrid p label{
         border:none;
         border-bottom:10px solid #dfdfdf;
         text-transform: uppercase;
            font-family: "Comic Sans MS" !important;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            height:auto;
      }

      .formulagrid p textarea{
        text-align:left;
        resize:none;
        resize:vertical;
      }

      .formulagrid *{
      border: 10px solid #dfdfdf;
      width:auto;
      }

      .bugreport textarea{

        overflow: auto;
        display:block;
        width:100%;
        height: 400px;
      }