

.navbar {
  overflow: hidden;
  background-color: #f1b434;
  height: 136px;
}

    .navbar a {

        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-anchor: middle;

    }


    .navbar input[type=text] {

      padding: 6px;
      border: none;

      margin-left: 10px;
      font-size: 17px;
        margin-top: 90px;
    }
    .navbar .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .navbar .search-container button:hover {
      background: #ccc;
    }
.subnav {
  float: left;
    margin-top: 90px;
  /*overflow: hidden;*/
}
    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        position: relative;
        display: inline-block;
    }



.logo {
    position: absolute;
    left: 40% ;

}

.logo:link {
    color: maroon;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px;
    position: center;
    margin: 7px;
}



.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #188C00;
}

.logo:hover {
    color: #f1b434;
    background-color: white !important;
}

.subnav-content {
    visibility: hidden;
    display: grid !important;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    /*opacity:0;*/
    height:0;
    opacity:0;
    transition: 0.1s;
    position:absolute;
    background-color: #188C00;
    min-width: 160px;
    /*width: 100%;*/
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(16,0,0,0.2);
}

    .subnav-content a {
        float: left;
        color: white;
        /*width: 100%;*/
        display: grid !important;
        text-decoration: none;
        padding: 12px 16px;
    }

        .subnav-content a:hover {
            background-color: #ddd;
            /*shape-margin: 0;*/
            color: #f1b434;
            visibility:inherit;
            resize: inherit;
        }

.subnav:hover .subnav-content {
  visibility:visible;
  opacity:1;
  height: auto;
  opacity:1;
}

.subnav:hover + div {
background-color: #188C00;
}
.subnav:hover + div button{
    border-bottom-left-radius:20px;
    border: 0px solid white;
    -webkit-box-sizing: border-box;
    margin:0px;
    background-color: #f1b434;

}

a.right{
  float: right;
    margin-top:  90px;
}