/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-hearts ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

.rating-stars ul > li.heart {
  display:inline-block;

}
/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/* Hover state of the stars */
.rating-hearts ul > li.heart.hover > i.fa {
  color:#FF69B4;
}

/* Selected state of the stars */
.rating-hearts ul > li.heart.selected > i.fa {
  color:#FF1493;
}

.rating-hearts ul > li.heart > i.fa {
  font-size:5em; /* Change the size of the heart */
  color:#ccc; /* Color on idle state */
}
