
.textOverImage{
width:200px;
height:200px;
float:left;
margin:4px;
background-size:100%;
background-position:center;
transition:0.5s;
position:relative;
}

.textOverImage:first-line{
color:#fff;
font-weight:bold;
font-size:1.5em;
}

.textOverImage:hover{
background-size:110%;
}

.textOverImage:after{
transition:0.5s;
content:attr(data-text);
position:absolute;
top:100%;
bottom:0;
left:0;
right:0;
opacity:0;
word-wrap:break-word;
overflow:hidden;
background-color: rgba(0,0,0,0.6);
padding:0 8px;
color:#fff;
white-space:pre-wrap;
}

.textOverImage:hover:after{
top:0;
padding:8px;
opacity:1;
}

