

html,body{
  min-height: 100%;
}

main{
  padding:10px;
}

.main-grid{
  display: grid;
  grid-template-columns: 200px auto 200px;
  height:100%;
}

.main-row{
  background-color: #ffeecc;
  height:100%;
}

h2{
	text-align: center;
}