

.item{
  overflow: hidden;
  background-color: #333;
	padding-left: 20px;
	padding-right: 20px;
}

.itemname{
  color: white;
  //float: left;
}

.listitem-content{
  //float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
}

a.delete{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p.tab{
	margin-left:20px;
}

right{
  float: right;
}
