{% extends "baseitem.html" %}
{% load staticfiles %}
{% block smalltitle %}
Przepis
{% endblock %}

{% block deletelink %}
{% url 'recipe_delete' item.id %}
{% endblock %}

{% block acceptlink %}
{% url 'recipe_accept' item.id %}
{% endblock %}

{% block itemcontent %}
    <h4>Rating:</h4>
    {% if rating %}
      <p class="tab">{{ rating.rating }}</p>
      {% if rating.favourite %}
        <p class="tab">Favourite! &hearts;</p>
      {% endif %}
    {% else %}
      <p class="tab">{{ 0 }}</p>
    {% endif %}

    <h4>Description:</h4>
    <p class="tab">{{ item.description }}</p>
    <p class="tab">{{ item.description }}</p>

    <h4>Recipe:</h4>
    <p class="tab">{{ item.recipe_text|linebreaksbr }}</p>
    <p>{{item.image.url}}</p>
    <h4>Ingredients:</h4>
    <ul>
    {% for ing in item.dishingredient_set.all %}
        <li>{{ ing.ingredient.name }}, {{ ing.quantity }}, {{ing.unit.name}} ({{ing.unit.amount}} g)</li>
    {% endfor %}
    </ul>
    <h4>Photo:</h4>
    {% if item.image %}
        <img src="{{item.image.url}}" style="height: 200px; width: 200px;">
    {% else %}
        <img src="/media/default.png" style="height: 200px; width: 200px;">
    {% endif %}
{% endblock %}
