<html>
<head>
    {% load static %}
    {% load staticfiles %}

    <meta charset="utf-8">
    <title>{% block title %}Dino Food{% endblock %}</title>

    {% block head %}{% endblock %}

    <link href="{% static 'css/MenuStyle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/BaseStyle.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="navbar">
    <a class="logo" href="{% url 'index' %}">DINOFOOD</a>
    <div class="subnav">
        <button class="subnavbtn">Przepisy <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="{% url 'recipe' %}" style="display:block;">Pokaż wszystkie</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_recipe' %}" style="display:block;">Utwórz nowy</a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="{% url 'accept_recipes' %}" style="display:block;">Akcjeptuj przepisy</a>
            {% endif %}
            <a href="{% url 'search_recipe' %}">Wyszukaj</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Kuchnia <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="{% url 'fridge' %}" style="display:block;">Lodówka</a>
            <a href="{% url 'tools' %}" style="display:block;">Sprzęty</a>
        </div>
    </div>
    {% if user.is_superuser %}
        <div class="subnav">
            <button class="subnavbtn">Składniki<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'ingredient' %}">Pokaż wszystkie</a>
                <a href="{% url 'add_ingredient' %}">Utwórz nowy</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Narzędzia<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'cooking_tool' %}">Pokaż wszystkie</a>
                <a href="{% url 'add_cooking_tool' %}">Utwórz nowy</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Jednostki<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'unit' %}">Pokaż wszystkie</a>
                <a href="{% url 'add_unit' %}">Utwórz nowy</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Test <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="{% url 'test_default_database' %}">Default db</a>
                <a href="{% url 'test_empty_database' %}">Empty db</a>
                <a href="{% url 'save_db_to_default' %}">Save db</a>
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="right" href="{% url 'logout' %}">Log out</a>
        <a class="right" href="{% url 'bug_report' %}">Zgłoś błąd</a>
    {% else %}
        <a class="right" href="{% url 'login' %}">Log in</a>
        <a class="right" href="{% url 'signup' %}">Sign in</a>
    {% endif %}
</div>


<div class="main-grid">
    <div class="main-row left-row">

    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div class="main-row right-row">

    </div>
</div>


{% block custom_js %}{% endblock %}
</body>
</html>